/*
Google Fonts:
font-family: 'DotGothic16', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

/*Global rules*/
body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

h3 {
  text-align: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 25px auto;
  border: 1px solid black;
  padding: 10px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.dotGothic16 {
  font-family: 'DotGothic16', sans-serif;
}

.sairaCondensed {
  font-family: 'Saira Condensed', sans-serif;
}

/*Color section*/
.sectionTitle {
  text-align: center;
}

.sectionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colorBox {
  display: inline-block;
  border: 1px solid black;
  min-width: 200px;
  height: 80px;
  margin: 5px;
  text-align: center;
}

.colorName {
  display: block;
  margin: 12px 0;
}

.hexValue {
  display: block;
}

.color1 {
  background-color: AliceBlue;
}

.color2 {
  background-color: LemonChiffon;
}

.color3 {
  background-color: LavenderBlush;
}



/*Font section*/
.fontBox {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  min-width: 350px;
  margin: 5px;
}

.fontExamplesContainer {
  display: flex;
  flex-direction: column;
}

.fontExample {
  margin: 8px;
}
