/*
Google Fonts:
font-family: 'DotGothic16', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/



/*Global rules*/


body {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}



/*Fonts*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.dotGothic16 {
  font-family: 'DotGothic16', sans-serif;
}

.sairaCondensed {
  font-family: 'Saira Condensed', sans-serif;
}



/*Apply to all main sections*/
.mainSection {
  width: 1000px;
  margin: 25px auto;
  border: 1px solid black;
  padding: 10px;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


/*Color section*/


.colorBox {
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
}

/* Test Begin */

.colorOne {
  border: 1px solid black;
}

.colorInfo {
  display: inline-block;
}

/* Test Ends */

.colorName {
  display: block;
  margin: 12px 0;
}

.hexValue {
  display: block;
}

.color1 {
  background-color: #EACDD0;
}

.color2 {
  background-color: #FBF9F9;
}

.color3 {
  background-color: #5A5B5B;
}

.color4 {
  background-color: #A3A6A3;
}

.color5 {
  background-color: #878384;
}



/*Font section*/
.fontBox {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  min-width: 350px;
  margin: 5px;
}

.fontExamplesContainer {
  display: flex;
  flex-direction: column;
}

.fontExample {
  margin: 8px;
}
