/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
*/



/*Global rules*/


body {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}



/*Fonts*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}



/*Apply to all main sections*/
.mainSection {
  width: 1000px;
  margin: 25px auto;
  border: 1px solid black;
  padding: 10px;
}

.sectionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexDirectionColumn {
  flex-direction: column;
  text-align: left;
  padding: 0 50px;
}

/*Color section*/


.colorBox {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 5px;
  text-align: center;
}

/* Test Begin */

.colorOne {
  border: 1px solid black;
}

.colorInfo {
  display: inline-block;
}

/* Test Ends */

.colorName {
  display: block;
  margin: 12px 0;
}

.hexValue {
  display: block;
}

.color1 {
  background-color: #f0f8ff;
}

.color2 {
  background-color: #f0f1ff;
}

.color3 {
  background-color: #fffff0;
}

.color4 {
  background-color: #fff7f0;
}

.color5 {
  background-color: #fff0f1;
}



/*Font section*/
.fontName {
  text-decoration: underline;
}

.fontBox {
  display: inline-block;
  text-align: center;
  min-width: 350px;
  margin: 5px;
}

.fontExamplesContainer {
  display: flex;
  flex-direction: column;
}

.fontExample {
  margin: 8px;
}


/*Text Style section*/
.h1Style>span {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}

.h2Style>span {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.pStyle>span {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.styleBox {
  margin: 10px 0;
}